@model Planpinterview.Models.categprogram

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monyvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monyvalue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id"class="btn btn-success">Edit</a> |
    <a asp-action="Index"class="btn btn-primary">Back to List</a>
</div>
